<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="نظام إدارة سجلات المراجعين"
          Manufacturer="Mohammed Mousa Asiri"
          Version="4.2.1"
          UpgradeCode="{DD766240-72F2-47B3-8DEB-6A9E1D31A45D}"
          Compressed="yes">
    <BootstrapperApplication>
      <bal:WixInternalUIBootstrapperApplication Theme="standard" />
    </BootstrapperApplication>
    <Chain>
      <MsiPackage SourceFile="$(var.MsiPath)" Compressed="yes" Vital="yes" bal:PrimaryPackageType="default" />
    </Chain>
  </Bundle>
</Wix>
